.photo_frame{
    width: 300px;
    border: 5px solid blue;
    margin: 10px;
    padding: 15px;
}
table,th,td{
    width: 300;
    border: 3;
}
.th{
    background-color: rgb(85, 206, 247);
    color: teal;
    padding: 5px;
    font-weight: bold;
}
.td_even{
    background-color: rgb(184, 232, 247);
    color: black;
    padding: 5px;
}
.td_odd{
    background-color: rgb(114, 213, 238);
    padding: 5px;
    color: black;
}
.round{
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
}
.div{
    width: 200px;;
    height: 400px;
    border-radius: 4%;
    padding: 20px;
    background-color: antiquewhite;
}
.text{
    text-align: center;
    color: aqua;
    font-size: 19px;
    font-family: sans-serif;
}
.center{
    text-align: center;
    font-size: 15px;
    font-family: 'Gill Sans';
}